<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sorting Algorithms</title>
</head>
<body>
<div class="container mt-5">

    <div class="row">

        <div class="col-6">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <p class="h4">Please, choose an algorithm:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algorithm" value="BubbleSort" checked>
                    <label>Bubble Sort</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algorithm" value="InsertionSort">
                    <label>Insertion Sort</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algorithm" value="SelectionSort">
                    <label>Selection Sort</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algorithm" value="MergeSort">
                    <label>Merge Sort</label>
                </div>
                <p class="h4 mt-5">Download a .txt file with unsorted numbers:</p>
                {{ form.unsorted_file }}
                <button type="submit" class="btn btn-primary mt-5">DO THE MAGIC</button>
            </form>
        </div>

        <div class="col-6">
            {% if last_sort %}
                <p class="h4">Done! All these were saved to the DB:</p>
                We used {{ last_sort.algorithm }} and it took {{ last_sort.time }}<br><br>
                input:<br>{{ last_sort.input }}<br><br>
                output:<br>{{ last_sort.output }}
            {% endif %}
        </div>

    </div>

    {% if messages %}
        <div class="row mt-5">
            <div class="col-12">
                {% for message in messages %}
                   <p class="h4" style="color: red;"> {{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
</body>
</html>
